.circular-menu {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .toggle {
    position: absolute;
    width: 75px;
    height: 75px;
    color: #222327;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
  }
  li {
    position: absolute;
    left: 10px;
    list-style: none;
    transform: rotate(calc(360deg / var(--circular-menu-total) * var(--i)))
      translateX(40px);
    transform-origin: 140px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;

    a,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      font-size: 1.75em;
      color: #222327;
      transform: rotate(
        calc(360deg / (-1 * var(--circular-menu-total)) * var(--i))
      );
    }
  }
}
.circular-menu.active {
  .toggle {
    transform: rotate(315deg);
    box-shadow: 0 0 0 68px #e0e0e0;
    background-color: #222327;
    color: #e0e0e0;
  }
  li {
    visibility: visible;
    opacity: 1;
  }
}