:root {
  //#region Main
  --color-navbar: #fd0001;
  --color-navbar-shadow: #616161;
  --color-sidebar: #c53030;
  --color-sidebar-text: #f5f5f5;
  --color-sidebar-shadow: #000000d4;
  --color-sidebar-submenu: #b50c0d;

  --color-top: #c53030;
  --color-middel: #fd0001;
  --color-light: #fffefe;
  //#endregion Main

  //#region Text
  --color-text-main: #212121;
  --color-text-main-light: #7d8597;
  --color-text-secondary: #ffffff;
  --color-text-secondary-light: #cccccc;
  --color-error: #ff4224;
  --color-error-trans: #ff6c55;
  --color-input-border: #7e7e7e;
  --color-input-border2: #b4dbfa;
  //#endregion Text

  //#region Background
  --color-bg-main: #fefefe;
  --color-bg-main-opacity: #ffffff99;
  --color-bg-secondary: #b50c0d;
  --color-bg-page-content: #ffffff;
  --color-bg-collapse-actions: #afb6c7;
  //#endregion Background

  //#region Footer
  --color-bg-footer: #fd1011;
  --color-footer-text: #f1e9e9;
  //#endregion Footer

  //#region HomePage
  --color-bg-slider: #d1321a;
  --color-contact-info-title: #ff6c55;
  --color-bg-home-mission-vision: #d14e39;
  --color-bg-footer-home: #f8492e;
  --color-bg-home-footer: #f5492f;
  //#endregion HomePage

  //#region Buttons
  --color-btn: #00bf36;
  --color-btn-hover: #7d8597;
  --color-bg-active-link: #d5e2ff;
  --color-dropdown-active: #ee1d1d;
  //#endregion Buttons

  //#region Notification
  --color-notification-title: #222;
  --color-notification-description: #555;
  --color-notification-date: #777;
  //#endregion Notification

  //#region Scroll
  --color-scroll: #919191;
  //#endregion Scroll

  //#region CustomCard
  --color-custom-card-bg: #fff;
  --color-custom-card-shadow: #00000099;
  --color-custom-card-details-bg: #000000a6;
  --color-custom-card-details-text1: #fff;
  --color-custom-card-details-text2: #ccc;
  //#endregion CustomCard

  //#region General
  --color-black: #000000;
  --color-red: #ff4747;
  --color-green: #47cf4d;
  --color-yellow: #fbe059;
  --color-orange: #fc9816;
  --color-grey: #7e7e7e;
  --color-white: #ffffff;
  //#endregion General

  /*#region navTabs */
  --color-nav-tabs-border: #303035;
  --outer-tab-active-color: #f10f0f;
  --inner-tab-active-color: #bd1616;
  /*#endregion navTabs */

  /*#region UserCardInfo */
  --color-user-card-border: #4f4f59;
  /*#endregion UserCardInfo */

  /*#region container collapse with btns  */
  --collapsed-bg: #535454;
  /*#endregion container collapse with btns */

  /*#region progress  */
  --color-progress-1: #00bf36;
  --color-progress-2: #e11919;
  /*#endregion progress */

  /*#region PreLoader */
  --color-loader-bg: #ff4747b0;
  --color-loader-bg-box1: #bd1616;
  --color-loader-bg-box2: #00bf36;
  --color-loader-bg-box3: #cf1616;
  --color-loader-bg-box4: #00bf36;
  --color-loader-bg-box5: #d62828;
  --color-loader-bg-box-shadow: #bd1616;
  /*#endregion PreLoader */

  /*#region pagination */
  --pagination-input-bg: #e11919;
  /*#endregion pagination */

  /*#region TimeCounter */
  --color-time-counter-top: #39393e;
  --color-time-counter-top-inverse: #ffffff;
  --color-time-counter-text: #222222;
  --color-time-counter-text-inverse: #55555511;
  --color-time-counter-text-inverse-200: #55555522;
  --color-time-counter-text-inverse-300: #55555533;
  /*#endregion TimeCounter */
}
