.statistics {
  margin: var(--app-content-gap);
}
.statistics-new-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
@media only screen and (max-width: 960px) {
  .statistics-new-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .statistics-new-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 560px) {
  .statistics-new-cards {
    grid-template-columns: 100%;
  }
}

.chartjs,
.statistics-new-card {
  text-align: center;
  box-shadow: 0px 0px 10px #0009;
  padding: 1em;
  border-radius: 1.5em;
  margin-bottom: 1em;
}

.statistics-new-card {
  width: 100%;
  text-align: initial;
  display: grid;
  grid-template-columns: calc(100% - 40px - 1em) 40px;
  grid-template-areas:
    "content icon"
    "bar bar";
  grid-gap: 1em;
  // margin: initial;
  text-align: center;
  .statistics-new-card-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .statistics-new-card-number {
      font-size: 20px;
    }
    .statistics-new-card-title {
      color: #777;
      font-size: 1.3rem;
    }
  }
  .statistics-new-card-icon {
    grid-area: icon;
    img {
      width: 100%;
    }
  }
  .statistics-new-card-bar {
    grid-area: bar;
    .statistics-new-card-title {
      font-size: 1.3rem;
    }
  }
}

.statistics-card-multiple {
  box-shadow: 0px 0px 10px #0009;
  padding: 1em;
  border-radius: 1.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.statistics-new-card,
.statistics-card-multiple {
  .statistics-new-card-bar,
  .statistics-card-multiple-bar {
    .progress {
      .progress-bar:nth-of-type(odd) {
        background-color: var(--color-progress-1);
        color: var(--color-text-secondary);
      }
      .progress-bar:nth-of-type(even) {
        background-color: var(--color-progress-2);
        color: var(--color-text-secondary);
      }
    }
  }
}
